@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



body {
    margin: 0;
    background-color: #81e881;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url("assets/img/background3.jpg");
    backdrop-filter: blur(2px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 3em;
}

main {
    grid-column: 2/3;
    background-color: white;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.shopping-cart {
    float: right;
    width: 40px;
    margin-right: 20px;
    margin-top: 10px;
}



header {
    background-color: white;
    border-top: thick solid #59ce7c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: sticky;
    top: 0;
}

header .logo:hover {
    transform: scale(1.05, 1.05);
}

header .logo {
    grid-column: 1/2;
    text-decoration: none;
    color: var(--header-logo);
    transform: scale(1, 1);
    transition: transform ease 400ms;
}

header .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.65em;
    height: 2rem;
}
header .title {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 50px;
}

header .search-field {
    font-size: 25px;
    width: calc(100% - 14px);
    margin: auto;
    display: block;
    padding: 5px;
}

.product {
    padding: 10px;
    background-color: lightgreen;
    grid-area: header;
    border: 2px solid black;
}

.product-name {
    padding-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.product-price {
    text-align: right;
    font-weight: bold;
}

.products-list .name {
    font-size: 22px;
    cursor:pointer;
}

.name::selection {
    background: none;
}

.products-list .price {
    font-size: 17px;
}

.product-picture {
    width: 100%;
    padding: 50px 0;
    background-color: lightyellow;
    margin-top: 20px;
    display: none;
}















